.edit-student {
  width: 98%;
  padding: 15px;
  margin: 5px 0 22px 0;
  background-color:#43658b;
  border-radius:12px;
  text-align: center;
  color: white;
}

main input[type=text], input[type=password],input[ type  ="tel"],input[ type  ="date"],input[ type  ="file"],input[ type  ="number"]
{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #fff;
}
option{
  background-color: #fff;
}
th{
  font-size: 0.9em;
}
.button
{
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width:40%;

}

.button1
{
  background-color: DodgerBlue;
  color: white;
  border-radius: 12px;
}

.button1:hover
{
  background-color: #4CAF50;
  color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
.sidebar{
  width: 345px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #4e89ae;
  z-index: 100%;
}
.sidebar-brand{
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
}
.sidebar-brand span{
  display: inline-block;
  padding-right: 1rem;
}
.sidebar-menu{
  margin-top: 1rem;
}
.sidebar-menu li{
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 1rem;
}
.sidebar-menu a{
  padding-left: 1rem;
  display: block;
  color: #fff;
  font-size: 1.1rem;
}
.sidebar-menu a.active{
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #127681;
  border-radius: 30px 0px 0px 30px;
}
.sidebar-menu a span:first-child {
  font-size: 1.5rem;
  padding-right: 1rem;
}
.main-content{
  margin-left: 345px;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  position: fixed;
  left: 345px;
  width: calc(100% - 345px);
  top: 0;
  z-index: 100;
  background: white;
}
header h2{
  color: #222;
}
header label span{
  font-size: 1.7rem;
  padding-right: 1rem;
}
.search-wrapper{
 border: 1px solid #ccc;
 border-radius: 30px;
 height: 40px;
 display: flex;
 align-items: center;
 overflow-x: hidden;
}
form.search button{

 background: white;
 padding: 0rem 1rem;
 font-size: 1.5rem;
 border: 0px  white;

}
form.search button:hover {
  background:#CCCFCC;
}
.search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}
.user-wrapper {
  display: flex;
  align-items: center;
}
.user-wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
}
.user-wrapper small{
  display: inline-block;
  color: grey;
}
main{
  margin-top: 10px;
  padding: 2rem 1.5rem;
  padding-left: 120px;
  background: #f1f5f9;
  min-height: calc(100vh - 90px);
  padding-top: 100px;
  padding-bottom: 120px;
}
