@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#homepage{
  background-image: linear-gradient(to right,#2a2a72, #009ffd);
  height: 100%;
  background-size: cover;
}
.nav-item{
  text-decoration: none;
  color: white;
}
.heading{
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  font-weight: 900;
  color: white;
  line-height: 5rem;
}
.navbar-brand{
  color: white;
}
.container{
  padding-top: 20px;
  padding-bottom: 40px;
}
.btn-1{
width: 150px;
height: 50px;
border: 3px solid white;
border-radius: 60px;
font-family: 'Roboto';
font-weight: 80%;
color: white;
background-color: #009ffd;
}
.row{
  padding-top: 55px;
  padding-bottom: 5.7rem;
}
.image{
  width: 110%;
  height: 100%;

}
.navbar{
  padding-top: 20px;
}
h6{
  color: white;
  opacity: 0.5;
}
.btn-2{
  width: 150px;
  height: 50px;
  background-color: #db6400;
  border-radius: 20px;
  font-family: 'Roboto';
  font-weight: 80%;
  color: white;
}
.btn-3{
  padding-top: 10px;
}
.btn-1:hover{
  background-color: #db6400;
  color: white;
  border: solid #db6400;
}
.btn-2:hover{
  background-color: white;
  color: black;
}
span{
  color: #f05945;
}
.bg-modal
{
  background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
  text-align: center;
}
.modal-contents
{
  height: 400px;
	width: 300px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}
input
{
  margin: 15px auto;
	display: block;
	width: 100%;
	padding: 8px;
	border: 1px solid gray;
}
.pic_2{
  width: 150px;
}
.close
{
 position: absolute;
 top: 0;
 right: 10px;
 font-size: 42px;
 transform: rotate(45deg);
 cursor: pointer;
 color: #333;
 &:hover{
   color: #666;
 }
}
.button {
	background-color: #2978b5;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
	&:hover {
		background-color: white;
		color: #2978b5;
		border: 2px solid #2978b5;
	}
  .button:hover{
    background-color: white;
		color: #2978b5;
		border: 2px solid #2978b5;
  }
}
form{
  display: block;
}
#about-project{
  padding-left: 8%;
  padding-right: 9%;
  padding-top: 5%;
  text-align: center;
}
.h{
  color: #222831;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}
.h-1{
  opacity: 0.4;
  font-size: 1rem;
}
.h-2{
  color: #222831;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
.about{
  text-align: left;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 10%;
}
.p-1{
  font-family: 'Noto Sans JP',sans-serif;
  color: #687980;
  width: auto;
  padding-right: 8%;
  opacity: 0.7;
  font-size: 0.9rem;
}
.h-1{
  opacity: 0.4;
  font-size: 0.8rem;
  padding-top: 10px;
}
.h-3{
  padding-top: 3%;
  padding-bottom: 15px;
  color: #222831;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  opacity: 0.7;
}
footer{
  background: #222831;
  height: 280px;
}
.f-p-1
{
  padding-top: 7%;
  padding-left: 30px;
  font-family: 'Noto Sans JP',sans-serif;
  color: white;
}
.f-p
{
  font-size: 0.6rem;
  color: grey;
  padding-left: 50px;
}
.footer-content{
  padding-left: 1px;
}
.f-c-1
{
  font-family: 'Noto Sans JP',sans-serif;
  color: #e84a5f;
  padding-right: 5px;
  text-align: center;
  padding-top: 60px;
}
.f-c-2
{
  color: grey;
  font-size: 0.8rem;
}
.f-c-4
{
  padding-left: 1rem;
}
.f-p-1, .f-p{
  padding-left: 80px;
}
.feature{
  font-size: 0.9rem;
  color: grey;
  text-align: center;
  padding-top: 3%;
}
.feature-img{
  padding-bottom: 25px;
}
.feature-name{
  padding-top: 1rem;
}
.feature-content{
  opacity: 0.6;
}
#features{
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  align-items: center;
  padding-bottom: 180px;
  background: #f3f4ed;
}
.container-2
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container-2 .box{
  position: relative;
  width: 300px;
  padding: 35px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}
.container-2 .box .icon{
  position: relative;
  width: 80px;
  height: 80px;
  color: #fff;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  transition: 1s;
}
.container-2 .box:nth-child(1) .icon{
  box-shadow: 0 0 0 0 #f05454;
  background: #f05454;
}
.container-2 .box:nth-child(1):hover .icon{
  box-shadow: 0 0 0 400px #f05454;
}
.container-2 .box:nth-child(2) .icon{
  box-shadow: 0 0 0 0 #3edbf0;
  background: #3edbf0;
}
.container-2 .box:nth-child(2):hover .icon{
  box-shadow: 0 0 0 400px #3edbf0;

}
.container-2 .box:nth-child(3) .icon{
  box-shadow: 0 0 0 0 #f3c623;
  background: #f3c623;
}
.container-2 .box:nth-child(3):hover .icon{
  box-shadow: 0 0 0 400px #f3c623;
}
.container-2 .box .content{
  position: relative;
  z-index: 1;
  transition: 0.5s;
  color:
}
.container-2 .box:hover .content{
  color: #fff;
}
.container-2 .box .content h3{
  font-size: 20px;
  margin: 10x 0;
  padding: 0;
}
.container-2 .box .content p{
  margin: 0;
  padding: 0;
}
.container-2 .box:before{
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,.2);
  z-index: 2;
  pointer-events: none;
}
.i-1
{
  width: 50px;
}
.b-1
{
  margin-left: 150px;
  margin-right: 0;
}
.b-2
{
  margin-left: 0;
  margin-right: 0;
}
.b-3
{
  margin-right: 150px;
  margin-left: 0;
}
.nav-link{
  color: white;
  text-decoration: none;
}
.feature-head{
  color: #222831;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 3.2rem;
  text-align: center;
  padding-top: 100px;
  opacity: 0.8;
}
.n{
  text-align: right;
}
.l-1{
  padding-left: 160px;
  padding-right: 0;
  text-align: right;
}
.l-2{
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.l-3{
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.l-4{
  padding-left: 0;
  padding-right: 190px;
  text-align: left;
}
.left-col
{
  padding-top: 50px;
}
.paragraph
{
  padding-top: 30px;
}
